
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
RESEND_API_KEY=
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=http://localhost:3001/success?checkout_id={CHECKOUT_ID}
CORS_ORIGIN=http://localhost:3001
DATABASE_URL=postgresql://...
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=